@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgray;
}

.navbar {
  background-color: #0074d9;
}
.img-ocean {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.img-ocean img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
