{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>Bienvenue !</h1>
	<div class="img-ocean">
		<img  src="{{ asset('build/images/ocean.jpg') }}" alt="image d'un plongeur dans l'océan"/>
	</div>
{% endblock %}